aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiohttp-retry==2.9.1
aiosignal==1.4.0
amqp==5.3.1
asgiref==3.11.1
attrs==26.1.0
billiard==4.2.4
celery==5.6.3
certifi==2026.2.25
charset-normalizer==3.4.7
click==8.3.2
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cloudinary==1.46.2
colorama==0.4.6
Django==6.0.4
django-cloudinary-storage==0.3.0
django-cors-headers==4.9.0
django-filter==25.2
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.29.0
frozenlist==1.8.0
gunicorn==25.3.0
idna==3.11
inflection==0.5.1
iniconfig==2.3.0
joblib==1.5.3
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kombu==5.6.2
multidict==6.7.1
numpy==2.4.4
packaging==26.0
pandas==3.0.2
pillow==12.2.0
pluggy==1.6.0
prompt_toolkit==3.0.52
propcache==0.4.1
proxy.py==2.4.10
psycopg2-binary==2.9.11
Pygments==2.20.0
PyJWT==2.12.1
pypdf==6.10.0
pytest==9.0.3
pytest-django==4.12.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
PyYAML==6.0.3
qrcode==8.2
redis==7.4.0
referencing==0.37.0
reportlab==4.4.10
requests==2.33.1
rpds-py==0.30.0
scikit-learn==1.8.0
scipy==1.17.1
setuptools==82.0.1
six==1.17.0
sqlparse==0.5.5
threadpoolctl==3.6.0
twilio==9.10.4
tzdata==2026.1
tzlocal==5.3.1
uritemplate==4.2.0
urllib3==2.6.3
vine==5.1.0
wcwidth==0.6.0
wheel==0.47.0
whitenoise==6.12.0
yarl==1.23.0
